/** @define accordionPanel */
.vb-accordionPanel {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  transition-duration: 0.2s;

  &__title {
    display: block;
    padding: 1rem 3rem 1rem 1.5rem;
    margin: 0;
    font-size: $vbNormalFontSize;
    line-height: 1;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $vbColorsP01;
    }

    &--responsive {
      @media (max-width: $vbMobileBoundaryWidth) {
        padding-left: 1rem;
        padding-right: 2.5rem;
      }
    }
  }

  &__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);

    &--responsive {
      @media (max-width: $vbMobileBoundaryWidth) {
        right: 1rem;
      }
    }
  }

  &__description {
    padding: 0.5rem 1.5rem;
    margin: 0;
    font-size: $vbNormalFontSize;
  }

  &--borderBoth {
    border-width: 1px 0;
    border-style: solid;
    border-color: $vbBaseColor2;
  }

  &--borderBottom {
    border-bottom: 1px solid $vbBaseColor2;
  }

  &--borderTop {
    border-top: 1px solid $vbBaseColor2;
  }

  &--responsive {
    @media (max-width: $vbMobileBoundaryWidth) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
