/** @define listTable */

.vb-listTable,
.vb-groupedListTable {
  &__table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;

    // .vb-tableListCell__content をセルに対して縦方向に100%で表示するには
    // heightを小さくしておく必要がある
    height: $vbMinimum;
  }

  &--fitContent {
    max-width: fit-content;
  }
}
