.vb-withBalloon {
  display: inline-block;

  &__contentWrapper {
    pointer-events: auto;
  }

  &__balloonWrapper {
    &--hidden {
      width: 1px;
      height: 1px;
      overflow: hidden;
      position: absolute;
      clip: rect(1px 1px 1px 1px);
    }
  }
}
