@font-face {
  font-family: 'freee-logo';
  font-style: normal;
  src: local('Noto Sans CJK JP Medium'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf)
      format('opentype');
}
