@each $i in (0.25, 0.5, 1, 1.5, 2, 3) {
  .vb-ma#{$i * 100} {
    margin: #{$i}rem;
  }

  .vb-mt#{$i * 100} {
    margin-top: #{$i}rem;
  }

  .vb-mb#{$i * 100} {
    margin-bottom: #{$i}rem;
  }

  .vb-ml#{$i * 100} {
    margin-left: #{$i}rem;
  }

  .vb-mr#{$i * 100} {
    margin-right: #{$i}rem;
  }

  .vb-ma-#{$i * 100} {
    margin: #{$i * -1}rem;
  }

  .vb-mt-#{$i * 100} {
    margin-top: #{$i * -1}rem;
  }

  .vb-mb-#{$i * 100} {
    margin-bottom: #{$i * -1}rem;
  }

  .vb-ml-#{$i * 100} {
    margin-left: #{$i * -1}rem;
  }

  .vb-mr-#{$i * 100} {
    margin-right: #{$i * -1}rem;
  }
}

.vb-ma-auto {
  margin: auto;
}

.vb-mt-auto {
  margin-top: auto;
}

.vb-mb-auto {
  margin-bottom: auto;
}

.vb-ml-auto {
  margin-left: auto;
}

.vb-mr-auto {
  margin-right: auto;
}
